.d-show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px;
}

@media only screen and (min-width:577px) and (max-width:767px) {
    .d-show {

        grid-template-columns: repeat(2, 1fr);

    }

}

@media only screen and (max-width:575px) {
    .d-show {
        grid-template-columns: repeat(1, 1fr);

    }

}