.header-navbar {
    background-color: #fff !important;
}

.nav-links-container a {
    color: #000;
    margin-right: 18px;
    font-size: 15px;
}

.sign-up-link {
    background-color: #F91944;
    border-radius: 50px;
}