.service-icon {
    font-size: 18px;
    background-color: #F91944;
    padding: 10px;
    border-radius: 50%;
    height: 45px;
    color: #fff;
}

.arrow-icon {
    color: #11E16B;
}

/* our services */
@media only screen and (max-width:575px) {
    .services-info {
        width: 100% !important;

    }

}